/* LIGHT MODE (DEFAULT) */
:root {
    --background-colour: #eeeeee;
    --text-colour: #444444;
    --accent-colour: #e5b3b5;
    --accent-colour-2: #c59698;
    --transparent-colour: #eeeeee60;
}

/* DARK MODE */
[data-theme="dark"] {
    --background-colour: #444444;
    --text-colour: #eeeeee;
    --accent-colour: #FFC6C6;
    --accent-colour-2: #ffeeee;
    --transparent-colour: #44444460;
}

/* RESET STUFF */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* SET SCROLL BEHAVIOUR AND FONT_SIZE FOR REM */
html {
    scroll-behavior: smooth;
    font-size: clamp(14px, 2.34vw, 16px);
}

/* BACKGROUND COLOUR */
body {
    background-color: var(--background-colour);
}

/* MAKE A MORE NARROW CONTAINER FOR THE CONTENT */
.container {
    width: clamp(300px, 60%, 1000px);
    margin-inline: auto;
    padding: 1rem 1rem;
}

/* TEXT STYLES */
.header-1 {
    font-family: 'Gamja Flower', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12rem;
    color: var(--accent-colour);
    text-align: center;
}
.header-2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2.25rem;
    color: var(--accent-colour);
}
.header-3 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.75rem;
    color: var(--accent-colour);
}
.header-4 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.75rem;
    color: var(--text-colour);
}
.code {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    color: var(--text-colour);
}
.code-bold {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1.25rem;
    color: var(--accent-colour);
}
.link-text {
    font-family: "Gamja Flower", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75rem;
    color: var(--accent-colour);
    text-decoration: none;
}
.body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    color: var(--text-colour);
}
.body-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.25rem;
    color: var(--text-colour);
}
.body-small {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
    color: var(--text-colour);
}
.body-small-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.1rem;
    color: var(--text-colour);
}

/* OTHER USEFUL COMPONENTS */
.row-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* NAVIGATION BAR (AT THE TOP) */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: clamp(300px, 60%, 1000px);
    margin-inline: auto;
    padding: 1rem 1rem;
    background-color: var(--transparent-colour);
    backdrop-filter: blur(10px);
}
/* LEFT SIDE OF NAV BAR */
.nav-left {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.homepage-link {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.quack {
    width: clamp(1.5rem, 3.5vw, 3rem);
    height: clamp(1.5rem, 3.5vw, 3rem);
}
.quack .icon-primary {
    fill: var(--background-colour);
}
.quack .icon-secondary {
    fill: var(--text-colour); }
.header-link {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.75rem;
    color: var(--text-colour);
}
.homepage-link:hover .quack .icon-secondary{
    fill: var(--accent-colour);
}
.homepage-link:hover .header-link {
    color: var(--accent-colour);
}
/* RIGHT SIDE OF NAV BAR */
.nav-right {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
}
.nav-right a{
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 0.4rem;
    transition: background-color 0.6s ease;
}
.nav-right a:hover {
    background-color: var(--accent-colour);
}
.sun {
    width: clamp(1.25rem, 2.25vw, 2.5rem);
    height: clamp(1.25rem, 2.25vw, 2.5rem);
}
.sun .icon-secondary {
    stroke: var(--text-colour);
}
.sun .icon-primary {
    fill: var(--text-colour);
    stroke: var(--text-colour);
}
.sun:hover .icon-secondary {
    stroke: var(--accent-colour);
}
.sun:hover .icon-primary {
    stroke: var(--accent-colour);
    fill: var(--accent-colour);
}
.moon {
    width: clamp(1.25rem, 2.25vw, 2.5rem);
    height: clamp(1.25rem, 2.25vw, 2.5rem);
}
.moon .icon-primary {
    stroke: var(--text-colour);
}
.moon:hover .icon-primary {
    stroke: var(--accent-colour);
}

/* HERO SECTION */
#hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.arrow {
    width: clamp(2rem, 7.9vw, 4.5rem);
    height: clamp(2rem, 7.9vw, 4.5rem);
}
.arrow line{
    stroke:  var(--text-colour);
}
.arrow:hover line{
    stroke:  var(--accent-colour);
}

/* ABOUT SECTION */
#about-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

/* SKILLS SECTION */
#skills-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

/* PROJECTS SECTION */
#projects-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}
#projects-container {
    width: 100%;
    height: 30rem;
    background-color: var(--accent-colour);
}

/* CONTACT SECTION */
#contact-section {
    gap: 1rem;
}